<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <br>

        <H1><%= blog.blogName %> </H1>
        <span><i><b>By <%= blog.userName %></b></i></span>
        <p><%= blog.body %></p>
    </body>

</html>