<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <br>

        <div class="details content">
            <h1><%= blog.blogName %></h1>
            <span><i><b>By <%= blog.userName %></b></i></span>
            <div class="content">
              <p><%= blog.body %></p>
            </div>
            <a class="delete" data-doc="<%= blog._id %>">
              <img src="/trashcan.png" alt="delete icon" style="width: 30px; height: 30px;">
            </a>
          </div>
        
        <%- include('../partials/footer.ejs') %>
        <script>
            const id = document.querySelector(".delete");
            id.addEventListener('click', (e)=>{
                const endpoint = `/blog/${id.dataset.doc}`;
                fetch(endpoint, {
                    method : 'DELETE'
                })
                .then((response) => response.json())
                .then((data) =>{
                    window.location.href = data.redirect;                    
                })
                .catch(err =>console.log(err));
            });
        </script>
    </body>

</html>