<html>
    <%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/header.ejs") %>
    <br>
    <% if(blogs.length > 0){ %>
        <% blogs.forEach(blog =>{ %>
            <a href="/blog/<%= blog._id %>">
                <h4> <%= blog.blogName %></h4>
                <p>By <%= blog.userName %></p>
            </a>
            <hr>
        <% }) %>
    <% }else{ %> 
        <p>There are no blogs to display</p>
    <% } %>

    
    <%- include('../partials/footer.ejs') %>
</body>
</html>